my-products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid gray;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px
}

my-shoppingitems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid violet;
    background-color: violet;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px
}